.user-card{
    width: 18rem;
    border-radius: 1rem;
    padding: 1em;
    margin: 1em;
    box-shadow: 10px 10px 30px gray;
}
.card-text{
    margin-bottom: 0;
}
.card-button{
    margin: 1em 0 0 0;
}