.user-details{
    margin: 3rem 0;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 40px gray;
}
.details-container{
    max-width: 30%;
}
.user-details h5, p{
    color: rgba(72, 73, 73, 0.85);
    font-size: 18px;
    margin-top: 0.7em;
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

@media (max-width:992px){
    .details-container{
        max-width: 60%;
    }
}
@media (max-width:668px){
    .details-container{
        max-width: 100%;
    }
}